@mixin dialogBox ($backgroundColor, $width) {
    width: $width;
    padding: 10px;
    background-color: $backgroundColor;
    border: 1px solid black;
    margin: 40px auto;
    position: relative;

    &::after {
        content: "";
        width: 10px;
        height: 10px;
        background-color: $backgroundColor;
        border: 1px solid black;

        position: absolute;
        top: -6px;
        left: 50%;
        transform: translateX(-50%) rotate(45deg);
    }
}

.dialog {
    @include dialogBox(green,800px );
}